<% @clients.each do |client| %>
  <div><%= client.name %></div>
  <div><%= client.postal_code %></div>
  <div><%= client.address %></div>
  <div><%= client.telephone_number %></div>
  <div><%= client.email %></div>
  <div><%= client.introduction %></div>
<% end %>
