<div><%= @client.name %></div>
<div><%= @client.postal_code %></div>
<div><%= @client.address %></div>
<div><%= @client.telephone_number %></div>
<div><%= @client.email %></div>
<div><%= @client.introduction %></div>
<%= link_to "Edit", edit_client_path(@client) %></div>
<%= link_to "Destroy", client_path(@client), method: :delete %></div>




<style type="text/css">
  #map { height: 400px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    width: 80%;}
</style>
<div id="map"></div>

<script type="text/javascript">
    function initMap() {

        var location ={lat: <%= @client.latitude %>, lng: <%= @client.longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: location
        });
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);

        var contentString = '住所：<%= @client.address %>';
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({
            position:location,
            map: map,
            title: contentString
        });

        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%=ENV['GOOGLE_MAPS_API_KEY']%>&callback=initMap">
</script>

